<ul>
	<li><a href="/">Home</a></li>
	<li><a href="/customer">Customer</a></li>
	<li><a class="active" href="/address">Address</a></li>
	<li><a href="/package">Package</a></li>
	<li><a href="/post-company">Post Company</a></li>
</ul>

<h1>Address</h1>


<form>
	<label>House Number: </label> <input type="text" placeholder="House Number" name="house_number">
	<label>Street Address: </label> <input type="text" placeholder="Street Address" name="street_address">
	<label>City: </label> <input type="text" placeholder="City" name="city">
	<label>State: </label> <input type="text" placeholder="State" name="state">
	<label>Zip Code: </label> <input type="text" placeholder="Zip Code" name="zip_code">

	<button type="submit">Submit</button>
</form>

<h3>Available Addresses</h3>
<table>
	<thead>
		<th>House Number</th>
		<th>Street Address</th>
		<th>City</th>
		<th>State</th>
		<th>Zip Code</th>
	</thead>
	<tbody>
		<tr>
			<td>1234</td>
			<td>NW Main St.</td>
			<td>Corvallis</td>
			<td>Oregon</td>
			<td>97330</td>
			<td><button>Delete</button></td>
			<td><button>Edit</button></td>
		</tr>
		<tr>
			<td>12358</td>
			<td>SE 25th Ct.</td>
			<td>Salem</td>
			<td>Oregon</td>
			<td>97800</td>
			<td><button>Delete</button></td>
			<td><button>Edit</button></td>
		</tr>
	</tbody>
</table>
