<ul>
	<li><a href="/">Home</a></li>
	<li><a class="active" href="/customer">Customer</a></li>
	<li><a href="/address">Address</a></li>
	<li><a href="/package">Package</a></li>
	<li><a href="/post-company">Post Company</a></li>
</ul>

<h1>Customer</h1>

<h3>Add a Customer</h3>
<form id="addCustomer action="/customer" method="post">
	<label>First Name: </label> <input type="text" placeholder="First Name" name="first_name">
	<label>Last Name: </label> <input type="text" placeholder="Last Name" name="last_name">
	<label>Address ID: </label> <input type="text" placeholder="ID" name="aid">
	<button type="submit">Add</button>
</form>

<h3>Current Customers:</h3>
<table>
	<thead>
		<th>First Name</th>
		<th>Last Name</th>
		<th>ID</th>
	</thead>
	<tbody>
		{{#each customers}}
			<tr>
				<td>{{first_name}}</td>
				<td>{{last_name}}</td>
				<td>{{customer_id}}</td>
				<td><button onclick=delete_customer({{customer_id}})>Delete</button></td>
				<td><button>Edit</button></td>
			</tr>
		{{/each}}
	</tbody>
</table>

