<ul>
	<li><a href="/">Home</a></li>
	<li><a href="/customer">Customer</a></li>
	<li><a href="/address">Address</a></li>
	<li><a class="active" href="/package">Package</a></li>
	<li><a href="/post-company">Post Company</a></li>
</ul>


<h1>Package</h1>

<h3>Search for a Package</h3>
<div class="wrap">
	<div class="search">
		<input type"text" class="searchTerm" placeholder="Search/Filter">
		<button type="submit" class="searchButton">Go</button>
	</div>
</div>

<h3>Add a Package</h3>
<form>
	<label>Contents: </label> <input type="text" placeholder="Contents" name="content">
	<label>Delivery Status:</label>
	<select>
		<option value="delivered">Delivery Status</option>
		<option value ="true">Delivered</option>
		<option value ="false">En Route</option>
	</select>
	<button type="submit">Add</button>
</form>

<h3>Current Packages:</h3>
<table>
	<thead>
		<th>Contents</th>
		<th>Delivery Status</th>
	</thead>
	<tbody>
		<tr>
			<td>Google Pixel 3a</td>
			<td>Delivered</td>
			<td><button>Delete</button></td>
			<td><button>Edit</button></td>
		</tr>
		<tr>
			<td>Exotic Butters</td>
			<td>En Route</td>
			<td><button>Delete</button></td>
			<td><button>Edit</button></td>
		</tr>
	</tbody>
</table>



