<ul>
	<li><a href="/">Home</a></li>
	<li><a href="/customer">Customer</a></li>
	<li><a href="/address">Address</a></li>
	<li><a class="active" href="/package">Package</a></li>
	<li><a href="/post-company">Post Company</a></li>
	<li><a href="/address-to-post">Address to Post Company</a></li>
</ul>


<h1>Package</h1>

<h3>Search for a Package</h3>
<div class="wrap">
	<div class="search">
		<input type"text" class="searchTerm" placeholder="Search/Filter">
		<button type="submit" class="searchButton">Go</button>
	</div>
</div>

<h3>Add a Package</h3>
<form id="add package" action="/package" method="post">
	<label>Contents: </label> <input type="text" placeholder="Contents" name="content">
	<label>Delivery Status:</label>
	<select>
		<option value="delivered">Delivery Status</option>
		<option value =1>Delivered</option>
		<option value =0>En Route</option>
	</select>
	<label>Customer ID: </label> <input type="text" placeholder="Customer ID" name="cid">
	<label>Post Company ID: </label> <input type="text" placeholder="Post Company ID" name="pcid">
	<label>Address ID ID: </label> <input type="text" placeholder="Address ID" name="aid">
	<button type="submit">Add</button>
</form>

<h3>Current Packages:</h3>
<table>
	<thead>
		<th>Contents</th>
		<th>Delivery Status</th>
		<th>Package ID</th>
	</thead>
	<tbody>
		{{#each packages}}
		<tr>
			<td>{{content}}</td>
			<td>{{delivered}}</td>
			<td>{{package_id}}</td>
			<td><button onclick="delete_package({{package_id}})">Delete</button></td>
			<td><button>Edit</button></td>
		</tr>
		{{/each}}
	</tbody>
</table>



