<ul>
	<li><a href="/">Home</a></li>
	<li><a href="/customer">Customer</a></li>
	<li><a href="/address">Address</a></li>
	<li><a href="/package">Package</a></li>
	<li><a class="active" href="/post-company">Post Company</a></li>
</ul>


<h1>Post Company</h1>

<form>
	<label>Company Name: </label> <input type="text" placeholder="Name" name="name">
	<button type="submit">Add</button>
</form>

<h3>Current Post Companies:</h3>

<table>
	<thead>
		<th>Name</th>
	</thead>
	<tbody>
		<tr>
			<td>UPC</td>
			<td><button>Delete</button></td>
			<td><button>Edit</button></td>
		</tr>
		<tr>
			<td>FedUp</td>
			<td><button>Delete</button></td>
			<td><button>Edit</button></td>
		</tr>
	</tbody>
</table>

